
<div class="row">
    <div class="col-8">
        <h1>Soy Ramón</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur, suscipit nisi corrupti sunt repellendus vero a aut repellat nihil quis quia cum sapiente voluptatem sint voluptas sit. Voluptate, asperiores laborum!</p>
    </div>
    <div class="col-4">
        <img src="assets/img/yo.jpg" class="img-thumbnail" alt="Cacola">
    </div>
</div>

